// VARIABLES

// Fonts
$color-primary: #322a3f;
$color-secondary: #00d573;
$color-tertiary: white;
$color-quaternary: #8b8585;
// Backgrounds
$background-primary: rgba(165, 159, 189, 0.1);
// Borders
$border-color: rgba(165, 159, 189, 0.5);

// GENERAL

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 4rem 5rem;
  color: $color-primary;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.nav {
  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-items {
    margin-right: 2rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    &.underline {
      border-bottom: solid 0.2rem $color-secondary;
    }
  }
  &-links {
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.avatar {
  height: 4rem;
  border-radius: 50%;
}

// MAIN

// Form
.form {
  &__input {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.8rem;
    border: none;
    background-color: $background-primary;
    padding-left: 1rem;
    font-style: oblique;
  }
  &__btn {
    position: relative;
    top: -3.3rem;
    left: 41rem;
    border-radius: 0.8rem;
    border: none;
    height: 3rem;
    width: 6rem;
    background-color: $color-secondary;
    color: $color-tertiary;
    font-weight: bold;
  }
}

// Movies list
.main__container {
  display: flex;
  flex-direction: column;
  width: 47rem;
  margin: auto;
}
.movie {
  &__card {
    display: flex;
    height: 12.2rem;
    border: $border-color solid 1px;
    margin-top: 1rem;
  }
  &__information {
    margin: 0 1rem;
    &-title {
      margin: 0.9rem 0 0.6rem 0;
    }
    &-date {
      font-style: oblique;
      color: $color-quaternary;
    }
    &-description {
      max-height: 4.5rem;
      overflow: hidden;
      text-align: justify;
      margin: 0.7rem 0;
      color: $color-quaternary;
    }
    &-link {
      font-size: 0.8rem;
      font-weight: bold;
      color: $color-secondary;
    }
  }
  &__picture {
    width: 8.25rem;
  }
}
